<!-- index.html -->
{% extends "layout.html" %}

{% block title %}TripStacker{% endblock %}

{% block body %}
		<!-- body -->
		<div class="row">
			<!-- day tabs -->
			<div class="col-md-4 day-control-panel">
				<div class="btn-group">
					<button type="button" class="btn btn-primary">Day 1</button>
					<button type="button" class="btn btn-default">Day 2</button>
					<button type="button" class="btn btn-default">Day 3</button>
				</div>
				<button type="button" class="btn btn-default" ><span class="glyphicon glyphicon-plus"></span>&#160;&#160;Add Day</button>
			</div>

			<!-- dropdowns -->
			<div class="col-md-8">
				<div class="select_box">
					<h3>Hotels</h3>
					<select class="form-control">
						{% for hotel in hotels %}
						<option id="{{hotel.id}}">{{hotel.place[0].name}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary">Add</button>
				</div>
				<div class="select_box">
					<h3>Things To Do</h3>
					<select class="form-control">
						{% for thingsToDo in thingsToDos %}
						<option id="{{hotel.id}}">{{thingsToDo.place[0].name}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary">Add</button>
				</div>
				<div class="select_box">
					<h3>Restaurants</h3>
					<select class="form-control">
						{% for restaurant in restaurants %}
						<option id="{{hotel.id}}">{{restaurant.place[0].name}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary">Add</button>
				</div>
			</div>
		</div> <!-- end row 1 -->

		<div class="row">
			<!-- 2nd row, 1st column (itinerary) -->
			<div class="col-md-3">
				<div class="plan for day#">
					<h3>Plan for Day 1</h3>
					<div>
						<ul>
						<li>
							<h4>Hotel</h4>
							<p>Hotel California</p>
						</li>
						<li>
							<h4>Things to Do</h4>
							<p>
								World Trade Center</br>
								Wall Street</br>
								Battery Park
							</p>
						</li>
						<li>
							<h4>Restaurants</h4>
							<p>
								Red Lobster</br>
								Amici II</br>
								Dig Inn
							</p>
						</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 2nd row, 2nd column (map) -->
			<div class="col-md-8">
				<div id="map-canvas"></div>
			</div>
		</div>
{% endblock %}