<!-- index.html -->
{% extends "layout.html" %}

{% block title %}TripStacker{% endblock %}

{% block body %}
		<!-- body -->
		<div class="row">
			<!-- day tabs -->
			<div class="col-md-4 day_control_panel">
				<div class="btn-group" id="day_list">
					<button type="button" class="btn btn-primary day-btn">Day 1</button>
				</div>
				<button type="button" class="btn btn-default" id="day_add_button"><span class="glyphicon glyphicon-plus"></span>&#160;&#160;Add Day</button>
			</div>

			<!-- dropdowns -->
			<div class="col-md-8">
				<div class="select_box">
					<h3>Hotels</h3>
					<select class="form-control" id="hotel_select">
						{% for key,hotel in hotels %}
						<option value="hotel_{{key}}">{{hotel.place[0].name}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary" id="hotel_add_button">Add</button>
				</div>
				<div class="select_box">
					<h3>Things To Do</h3>
					<select class="form-control" id="thingsToDo_select">
						{% for key,thingToDo in thingsToDos %}
						<option value="thingtoDo_{{key}}">{{thingToDo.place[0].name}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary" id="thingsToDo_add_button">Add</button>
				</div>
				<div class="select_box">
					<h3>Restaurants</h3>
					<select class="form-control" id="restaurant_select">
						<!-- key, value -->
						{% for key,restaurant in restaurants %}
						<option value="restaurant_{{key}}">{{restaurant.place[0].name}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary" id="restaurant_add_button" >Add</button>
				</div>
			</div>
		</div> <!-- end row 1 -->

		<div class="row">
			<!-- 2nd row, 1st column (itinerary) -->
			<div class="col-md-3">
				<div class="itinerary-day-1">
					<h3>Plan for Day 1</h3>
					<div>
						<ul>
						<li>
							<h4>Hotel</h4>
							<ul id="hotel_list">
							</ul>
						</li>
						<li>
							<h4>Things to Do</h4>
							<ul id="thingsToDo_list">
							</ul>
						</li>
						<li>
							<h4>Restaurants</h4>
							<ul id="restaurant_list">
							</ul>
						</li>
						</ul>
					</div>
				</div>
				<div class="itinerary-day-2 inactive">
					<h3>Plan for Day 2</h3>
					<div>
						<ul id="itinerary-master-list">
						<li>
							<h4>Hotel</h4>
							<ul class="itinerary-collection" id="hotel_itinerary">
							</ul>
						</li>
						<li>
							<h4>Things to Do</h4>
							<ul class="itinerary-collection" id="thingToDo_itinerary">
							</ul>
						</li>
						<li>
							<h4>Restaurants</h4>
							<ul class="itinerary-collection" id="restaurant_itinerary">
							</ul>
						</li>
						</ul>
					</div>
					<div class="itinerary-day-3 inactive">
					<h3>Plan for Day 3</h3>
					<div>
						<ul id="itinerary-master-list">
						<li>
							<h4>Hotel</h4>
							<ul class="itinerary-collection" id="hotel_itinerary">
							</ul>
						</li>
						<li>
							<h4>Things to Do</h4>
							<ul class="itinerary-collection" id="thingToDo_itinerary">
							</ul>
						</li>
						<li>
							<h4>Restaurants</h4>
							<ul class="itinerary-collection" id="restaurant_itinerary">
							</ul>
						</li>
						</ul>
					</div>
				</div>
				</div>
			</div>

			<!-- 2nd row, 2nd column (map) -->
			<div class="col-md-8">
				<div id="map-canvas"></div>
			</div>
		</div>
{% endblock %}

{% block javascripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGnSdrJkCeXLMMW58EzR_uKzi9LLxJ2lo&sensor=true"></script>
	<script src="js/google_maps.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/custom_jquery.js"></script>
	<script>
	{% autoescape false %}
		var all_hotels = {{ hotels | json }};
		var all_thingsToDos = {{ thingsToDos | json }};
		var all_restaurants = {{ restaurants | json }};
	{% endautoescape %}
	</script>
{% endblock %}


<!--
// converting swig variables to json
	// hotels is the key pointing towards data in exports.index
	// if we don't do autoescape false, it would escape all the characters " is &quot in escaped
	// autoescape is a security feature
	// any variable defined in a script tag is available for the life of the html page -->