<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Simple itinerary app for lower Manhattan.">
		<meta name="author" content="jdrur">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>

		<div class="container">

			<!-- navbar -->
			<div class="masthead">
				<h3 class="text-muted">TripStacker</h3>
				<ul class="nav nav-justified">
					<li><a href="#">Home</a></li>
					<li class="active"><a href="#">My Itinerary</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Downloads</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>

	{% block body %}{% endblock %}

			<!-- footer -->
			<div class="footer">
				<p class="text-muted">&copy; Fullstack Academy &#9829; 2014</p>
			</div>

		</div> <!-- end container -->

		<!-- Placed at the end of the document so the pages load faster -->
		<!-- ========================================================== -->
		<!-- stylesheets located in public directory -->
		<link href="/stylesheets/bootstrap.css" rel="stylesheet">
		<link href="/stylesheets/custom.css" rel="stylesheet">
		<!-- jQuery, dropdown jQuery, google API key, google maps script -->
		<script src="/js/jquery.js"></script>
		<script src="/js/dropdown.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGnSdrJkCeXLMMW58EzR_uKzi9LLxJ2lo&sensor=true"></script>
		<script src="/js/google_maps.js"></script>
		<!-- ========================================================== -->

	</body>
</html>
